.custom-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
  animation:
    jump 1.5s cubic-bezier(0.5, 1.8, 0.5, 1) infinite,
    fadeInOut 1.4s ease-in-out infinite;
  transform-origin: center;
  position: relative;
  @apply bg-nebuia-primary-500;
}

@keyframes jump {
  0%,
  100% {
    scale: 0.75;
  }
  50% {
    scale: 1;
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
