@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-nebuia-color-primary-50: 166 156 232; /* #a69ce8 */
  --tw-nebuia-color-primary-100: 151 139 229; /* #978be5 */
  --tw-nebuia-color-primary-200: 120 106 221; /* #786aed */
  --tw-nebuia-color-primary-300: 90 73 214; /* #5a49d6 */
  --tw-nebuia-color-primary-400: 65 46 200; /* #412ec8 */
  --tw-nebuia-color-primary-500: 54 38 167; /* #3626a7 */
  --tw-nebuia-color-primary-600: 39 28 121; /* #271879 */
  --tw-nebuia-color-primary-700: 24 17 76; /* #18114c */
  --tw-nebuia-color-primary-800: 10 7 30; /* #0a071e */
  --tw-nebuia-color-primary-900: 0 0 0; /* #000000 */

  --color-nebuia-primary-50: rgb(var(--tw-nebuia-color-primary-50));
  --color-nebuia-primary-100: rgb(var(--tw-nebuia-color-primary-100));
  --color-nebuia-primary-200: rgb(var(--tw-nebuia-color-primary-200));
  --color-nebuia-primary-300: rgb(var(--tw-nebuia-color-primary-300));
  --color-nebuia-primary-400: rgb(var(--tw-nebuia-color-primary-400));
  --color-nebuia-primary-500: rgb(var(--tw-nebuia-color-primary-500));
  --color-nebuia-primary-600: rgb(var(--tw-nebuia-color-primary-600));
  --color-nebuia-primary-700: rgb(var(--tw-nebuia-color-primary-700));
  --color-nebuia-primary-800: rgb(var(--tw-nebuia-color-primary-800));
  --color-nebuia-primary-900: rgb(var(--tw-nebuia-color-primary-900));

  /* #endregion */

  /* #region  /**=========== Secondary Color =========== */
  --tw-nebuia-color-secondary-50: /* #6847a2 */ 104 71 162;
  --tw-nebuia-color-secondary-100: /* #5e4092 */ 94 64 146;
  --tw-nebuia-color-secondary-200: /* #533982 */ 83 57 130;
  --tw-nebuia-color-secondary-300: /* #493271 */ 73 50 113;
  --tw-nebuia-color-secondary-400: /* #3e2b61 */ 62 43 97;
  --tw-nebuia-color-secondary-500: /* #342451 */ 52 36 81;
  --tw-nebuia-color-secondary-600: /* #2a1c41 */ 42 28 65;
  --tw-nebuia-color-secondary-700: /* #1f1531 */ 31 21 49;
  --tw-nebuia-color-secondary-800: /* #150e20 */ 21 14 32;
  --tw-nebuia-color-secondary-900: /* #0a0710 */ 10 7 16;

  --color-nebuia-secondary-50: rgb(var(--tw-nebuia-color-secondary-50));
  --color-nebuia-secondary-100: rgb(var(--tw-nebuia-color-secondary-100));
  --color-nebuia-secondary-200: rgb(var(--tw-nebuia-color-secondary-200));
  --color-nebuia-secondary-300: rgb(var(--tw-nebuia-color-secondary-300));
  --color-nebuia-secondary-400: rgb(var(--tw-nebuia-color-secondary-400));
  --color-nebuia-secondary-500: rgb(var(--tw-nebuia-color-secondary-500));
  --color-nebuia-secondary-600: rgb(var(--tw-nebuia-color-secondary-600));
  --color-nebuia-secondary-700: rgb(var(--tw-nebuia-color-secondary-700));
  --color-nebuia-secondary-800: rgb(var(--tw-nebuia-color-secondary-800));
  --color-nebuia-secondary-900: rgb(var(--tw-nebuia-color-secondary-900));

  --tw-nebuia-color-background: #fff;
}
@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size:
      100% 2px,
      0 2px;
    background-position:
      100% 100%,
      0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size:
      0 2px,
      100% 2px;
  }
}
