@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-50: 166 156 232;
  --tw-color-primary-100: 151 139 229;
  --tw-color-primary-200: 120 106 221;
  --tw-color-primary-300: 90 73 214;
  --tw-color-primary-400: 65 46 200;
  --tw-color-primary-500: 54 38 167;
  --tw-color-primary-600: 39 28 121;
  --tw-color-primary-700: 24 17 76;
  --tw-color-primary-800: 10 7 30;
  --tw-color-primary-900: 0 0 0;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #A69CE8 */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #978BE5 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #786ADD */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #5A49D6 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #412EC8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #3626A7 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #271C79 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #18114C */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #0A071E */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #000000 */
}
@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
.height-s400 {
  height: 25rem;
}
.width-s400 {
  width: 25rem;
}
.width-s340 {
  width: 21.25rem;
}
.height-s340 {
  height: 21.25rem;
}
.height-s300 {
  height: 18.75rem;
}
.width-s300 {
  width: 18.75rem;
}
.height-s280 {
  height: 17.5rem;
}
.width-s280 {
  width: 17.5rem;
}
.height-s250 {
  height: 15.625rem;
}
.width-s250 {
  width: 15.625rem;
}
.height-s90 {
  height: 5.625rem;
}
.width-s90 {
  width: 5.625rem;
}
.height-s60 {
  height: 3.75rem;
}
.width-s60 {
  width: 3.75rem;
}
.height-s55 {
  height: 3.438rem;
}
.width-s55 {
  width: 3.438rem;
}
.height-s30 {
  height: 1.875rem;
}
.width-s30 {
  width: 1.875rem;
}
.height-s35 {
  height: 2.18rem;
}
.width-s35 {
  width: 2.18rem;
}

.height-s15 {
  height: 0.938rem;
}
.width-s15 {
  width: 0.938rem;
}
.height-s10 {
  height: 0.625rem;
}
.width-s10 {
  width: 0.625rem;
}
.height-s5 {
  height: 0.313rem;
}
.width-s5 {
  width: 0.313rem;
}
