.alert {
  --alert-color: var(--color, #12b76a);
  @apply px-4 py-2 rounded-lg flex gap-4 items-center w-full max-w-md;
}
.alert.light {
  @apply shadow-md;
}

.alert.dark {
  @apply bg-slate-900;
}

.icon {
  color: #fff;
  @apply rounded-full p-2;
}
.icon,
.line {
  background-color: var(--alert-color);
}
/*variants*/
/*success*/
.alert.light.success {
  --color: #12b76a;
}
.alert.dark.success {
  --color: #0a6b20;
}
/*error*/
.alert.light.error {
  --color: #d92d20;
}
.alert.dark.error {
  --color: #a30e0b;
}
/*warning*/
.alert.light.warning {
  --color: #ffc107;
}
.alert.dark.warning {
  --color: #b78103;
}
/*info*/
.alert.light.info {
  --color: #2196f3;
}
.alert.dark.info {
  --color: #0e6cb7;
}
